

.container-login{
background-image: url('https://s1.1zoom.me/b5050/327/Money_Banknotes_Dollars_Bitcoin_Gold_color_606246_1920x1080.jpg');
background-position: center;
height: 100vh;
display: flex;
gap: 40px;
flex-direction: column;
justify-content: center;
align-items: center;
}

.title{
font-size: 45px;
color:white;
text-shadow: 1px 1px 4px black;
}

.input{
font-size: 20px;
width: 310px;
margin-right: 20px;
border:1px solid;
}
.senha{
width: 200px;
}
.input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}
.btn{
font-size: 18px;
border-radius: 4px;
border: 1px solid;
background-color: rgb(178, 218, 233);
padding: 2px;
}
